#home {
    margin-top: -10px;
    background-image: url('/public/images/galaxy.jpg');
    max-width: 100%;
}

@font-face {
    font-family: 'RatchetAndClankFutureFont';
    src: url(fonts/rg-future-italic.otf);
}

.image-text {
    font-family: 'RatchetAndClankFutureFont', sans-serif;
    font-size: 40px;
    color: white;
}
